# Ignore Python virtual environment
.wts_python_venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore .idea folder (IDE settings)
.idea/

# Ignore environment variables or secrets
.env
